/** css reset
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* navbar */
.navbar {
  height: 91px;
}

.navbar .navbar-nav a {
  font-weight: 700;
  color: aliceblue !important;
}

.navbar .navbar-nav a:hover {
  color: #34c759 !important;
}

.navbar .navbar-brand h5 {
  color: #34c759 !important;
  font-weight: 500;
}

@media only screen and (max-width: 1000px) {
  .navbar {
    background-color: #fff;
  }
  .navbar .navbar-nav a {
    margin-right: 0px !important;
    font-weight: 700;
    margin-left: auto;
    color: aliceblue !important;
  }
}
/* navbar */

/* button */
section.img .jumbotron .row-button button {
  background-color: #34c759;
  height: 72px;
  width: 220px;
  border-radius: 31px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

/* button */

/* section-img */
section.img .jumbotron {
  background-image: url("../img/Background.jpg");
  height: 1080px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: -91px;
}

section.img .jumbotron .container {
  margin-top: 100px;
  color: aliceblue !important;
  text-align: center;
}

section.img .jumbotron .row .text {
  font-weight: 300 !important;
  line-height: 30px;
}

/* section-img */
